<div class="content-inner-view">
    <div class="row">
        <div class="col-12">
            <p class="bc-2">Discounts</p>
        </div>
    </div>
    <form [formGroup]="discountsgroup">
        <div class="row mt-1">
            <div class="col-md-4 col-xl-4">
                <div class="form-group">
                    <label id="itemtypeid" title="Project Type">Project Type</label>
                    <select class="form-control " formControlName="itemtypeid" [ngClass]="{ 'is-invalid': DiscountsErrorMessage.itemtypeid }"
                        (change)="itemtypeid_Change($event)">
                        <option value="" ng-selected="selected" disabled>Select</option>
                        <option *ngFor="let projecttype of lstprojecttypes;trackBy: trackByFn" [value]="projecttype.itemtypeid">{{projecttype.itemtype}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <span *ngIf="DiscountsErrorMessage.itemtypeid">{{DiscountsErrorMessage.itemtypeid}}</span>
                    </div>
                </div>
            </div>
             <div class="col-md-4 col-xl-4">
                <div class="form-group">
                    <label id="projectname" title="Layout Name/Project Name">Layout Name/Project Name</label>
                    <!-- <select class="form-control " formControlName="projectname" [ngClass]="{ 'is-invalid': DiscountsErrorMessage.projectname }"
                        (change)="projectname_Change($event)">
                        <option value="" ng-selected="selected" disabled>Select</option>
                        <option *ngFor="let pnames of lstlayoutprogectnames;trackBy: trackByFn" [value]="pnames.projectname">{{pnames.projectname}}</option>
                    </select> -->
                        <ng-select [items]="lstlayoutprogectnames" formControlName="projectname" bindLabel="projectname"
                    bindValue="projectname" [multiple]=false placeholder="Select" [searchable]="true"
                    [searchFn]="customSearchFn" [clearable]=true dropdownPosition="bottom"
                    [clearOnBackspace]=true [ngClass]="{ 'is-invalid': DiscountsErrorMessage.projectname}" (change)="projectname_Change($event)">
           <ng-template ng-header-tmp let-item="items" let-index="index">
             <label class="col-4 p-0" style="text-align:center" *ngIf="projecttypeid!=1"><strong>Project Name</strong> </label>
             <label class="col-4 p-0" *ngIf="projecttypeid==1"><strong>Permit No.</strong></label>
             <label class="col-4 p-0" style="text-align:center" *ngIf="projecttypeid==1"><strong>Layout Name</strong> </label>
            
           </ng-template>
           <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
             <div class="row">
               <span class="col-4 text-dark word-break text-wrap" *ngIf="item.itemtypeid==1">{{item.permitno}}</span>
               <span class="col-4 text-dark" *ngIf="item.itemtypeid==1">{{item.projectname}}</span>
              
             </div>
           </ng-template>
           </ng-select>
                    <div class="invalid-feedback">
                        <span *ngIf="DiscountsErrorMessage.projectname">{{DiscountsErrorMessage.projectname}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-6 col-xl-6">
                <div class="mb-1 mt-1">
                    <label class="sec-head-bold">Type</label>
                    <div class="form-group mb-0">
                        <label id="pDiscountvalue" title="Type" hidden></label>
                        <div class="d-flex">

                            <div class="form-check form-check-inline radio-btn-secondary mr-5 mb-2">
                                <input class="form-check-input" type="radio" (change)="fixedtype()" name="pDiscounttype"
                                    id="chargetypefixed1" value="Fixed" formControlName="pDiscounttype">
                                <label class="mt-2" for="chargetypefixed1"> Fixed </label>
                            </div>
                            <div class="ml-4 col-md-6 mt-n2" *ngIf="showtype">
                                <div class="input-group">

                                    <input class="form-control" style="text-align:right;" type="text" value=""
                                         appMycurrencyFormatter appNumbersonly maxlength="12" formControlName="pDiscountvalue"
                                        [ngClass]="{ 'is-invalid':  DiscountsErrorMessage.pDiscountvalue }">
                                </div>
                                <div class="invalid-feedback">
                                    <span *ngIf="DiscountsErrorMessage?.pDiscountvalue">{{DiscountsErrorMessage.pDiscountvalue}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">

                            <div class="form-check form-check-inline radio-btn-secondary">
                                <input class="form-check-input" type="radio" name="pDiscounttype" id="chargetypeper1"
                                    (change)="percentagetype()" value="Percentage" formControlName="pDiscounttype">
                                <label class="mt-2" for="chargetypeper1"> Percentage </label>
                            </div>
                            <div class="ml-2  p-0 col-md-5 mt-n2" *ngIf="!showtype">
                                <div class="input-group">
                                    <label id="pDiscountvalue" title="Type"></label>
                                    <input class="form-control" type="text" ThreeDigitDecimalNumber value=""
                                        formControlName="pDiscountvalue" [ngClass]="{ 'is-invalid':DiscountsErrorMessage.pDiscountvalue}">

                                </div>
                                <div class="invalid-feedback">
                                    <span *ngIf="DiscountsErrorMessage?.pDiscountvalue">{{DiscountsErrorMessage.pDiscountvalue}}</span>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12">
                <label class="sec-head-bold">Days</label>
            </div>
        </div>
        <div class="row mt-1">   
            <div class="col-md-4 col-xl-2">
                <div class="form-group">
                    <label id="pDiscountfromdays" title="From Days">From Days</label>
                    <div class="input-group">
                        <input class="form-control" formControlName="pDiscountfromdays" appNumbersonly [ngClass]="{'is-invalid':DiscountsErrorMessage?.pDiscountfromdays}" maxlength="4">
                    </div>
                    <div class="invalid-feedback">
                        <span *ngIf="DiscountsErrorMessage?.pDiscountfromdays">{{DiscountsErrorMessage.pDiscountfromdays}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-2">
                <div class="form-group">
                    <label id="pDiscountTodays" title="To Days">To Days</label>
                    <div class="input-group">
                        <input class="form-control" formControlName="pDiscountTodays" appNumbersonly [ngClass]="{'is-invalid':DiscountsErrorMessage?.pDiscountTodays}" maxlength="4">
                    </div>
                    <div class="invalid-feedback">
                        <span *ngIf="DiscountsErrorMessage?.pDiscountTodays">{{DiscountsErrorMessage.pDiscountTodays}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-12">
             <div class="d-flex justify-content-end mt-6 ml-3 mb-1"> <a href="" data-toggle="tab" class="btn  btn-b-icon px-3 border-0" appButtonDoubleClick [debounceTime]="500" 
                                role="tab" aria-controls="hot" aria-selected="false" (debounceClick)="adddiscountsDetailstogrid()"><img
                                    src="assets/images/icon-add-white.svg" class="mr-3" width="20px" height="20px">Add
                            </a> </div>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <ngx-datatable #table class="material expandable table" [rows]="lstDiscountsdetails" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [selected]="selected" [limit]="5" [height]="100" [scrollbarH]="true">
                    <ngx-datatable-column width="100" name="" [cellClass]="'cell-left'" [headerClass]="'header-center'">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                            let-group="group">

                            <button class="btn btn-transparent"><i class="rb-ic rb-ic-add-frame"></i></button>
                            <div id="icon-delete" (click)='OnDelete(row,rowIndex)' class="text-left justify-content-left pull-left"></div>

                        </ng-template>
                    </ngx-datatable-column>
                    
                      <ngx-datatable-column name="Layout Name/Project Name" prop="projectname" [cellClass]="'cell-left'"
                        [headerClass]="'header-left'">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Discount Type" prop="pDiscounttype" [cellClass]="'cell-left'"
                        [headerClass]="'header-left'">
                    </ngx-datatable-column>
                    <ngx-datatable-column width="100" name="Discount Value" prop="pDiscountvalue" [cellClass]="'cell-right'"
                        [headerClass]="'header-right'">
                        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-group="group"
                            ngx-datatable-cell-template>
                            <span *ngIf="row.pDiscounttype=='Fixed'">{{row.pDiscountvalue | mycurrencypipe}}</span>
                            <span *ngIf="row.pDiscounttype=='Percentage'">{{row.pDiscountvalue}}%</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="From Days" prop="pDiscountfromdays" [cellClass]="'cell-center'"
                        [headerClass]="'header-center'">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="To Days" prop="pDiscountTodays" [cellClass]="'cell-center'"
                        [headerClass]="'header-center'">
                    </ngx-datatable-column>
                </ngx-datatable>

            </div>

        </div>
    </form>
    <div class="row mt-1 ml-1 mb-1">
        <div class="col-md-12 col-xl-12">
            <div class="d-flex justify-content-end mt-1">

                <a data-toggle="tab" class="btn btn-g-icon mr-4 px-3 border-0" role="tab" aria-controls="hot"
                    aria-selected="false" appButtonDoubleClick [debounceTime]="1000" (debounceClick)="clearDiscounts()"><img
                        src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3">Clear</a>
                <button appButtonDoubleClick [debounceTime]="500" (debounceClick)="savediscounts()" class="btn btn-b-icon px-3 border-0"
                    [disabled]="disablesavebutton">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': disablesavebutton}"></i>
                    <span *ngIf="!disablesavebutton"><img class="mr-3" height="20px" src="assets/images/icon-check-white.svg"
                            width="20px"></span>
                    {{savebutton}}
                </button>

            </div>
        </div>
    </div>
</div>