<div class="row mt-4">
    <div class="col d-flex flex-wrap align-items-center">
        <a routerLink="/LayoutCreation" class="btn btn-b-icon border-0"><img src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-2" />New</a>
    </div>
</div>


<div class="section-content mt-2 content-inner-view">

    <div class="row ">

        <div class="col-12">
            <a name="C4"></a>
            <h2 class="sec-head pull-left pt-3">
                Plot Detials View
            </h2>
            <ul class="temp-ul mt-n1 mr-n2 pull-right pt-0">
                <li class="temp-ico ml-2">
                    <a kendogridexcelcommand="" class="k-button k-grid-excel" dir="ltr"><img class="pt-2" src="assets/images/icon-excel.svg " title="excel" width="20px"></a>
                </li>
                <li class="temp-ico ml-2">
                    <a class="" dir=""><img class="pt-2" src="assets/images/pdf-icon-blue.svg" title="pdf" width="20px"></a>
                </li>
                <li class="temp-ico ml-2">
                    <a class="" dir="ltr"><img class="pt-2" src="assets/images/print-icon-blue.svg " style="cursor: pointer;" title="print" width="18px"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" id="LayoutView">
        <div class="col-md-12 col-xl-12">
            <div class="table-responsive">
                <table id="example" class="table text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Layout Place</th>
                            <th>Permit Number</th>
                            <th>Plot Number</th>
                            <th>Length in Meters</th>
                            <th>Length in Feet</th>
                            <th>Width in Meters</th>
                            <th>Width in Feet</th>
                            <th>Area in Square Yards </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Railapur</td>
                            <td>TO ENTER</td>
                            <td>1</td>
                            <td>400</td>
                            <td>48</td>
                            <td>2500.00</td>
                            <td>250000.00</td>
                            <td>4.00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Bachupally</td>
                            <td>2019</td>
                            <td>2</td>
                            <td>1000</td>
                            <td>48000</td>
                            <td>2500.00</td>
                            <td>250000.00</td>
                            <td>4.00</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>