<div class="shadow-bg-view  p-0">
    <div class="row  py-2">
        <div class="col d-flex flex-wrap align-items-center">
            <a routerLink='/CompaniesCreation' class="btn btn-b-icon border-0"><img src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-2" />New</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">

            <div class="card-box">
                <div class="col-12 mt-2 ">
                    <h2 class="sec-head">Company Details</h2>

                    <div class="col-md-12 col-xl-12 mt-3">
                        <!-- <input type="text" style="padding:8px;margin:15px auto;width:30%;" placeholder="Type to filter the name column..." (keyup)="updateFilter($event)" /> -->

                        <ngx-datatable #table class="material expandable table" [rows]="CompanyData" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [selected]="selected" [limit]="10" [height]="100">
                            <ngx-datatable-column name="" prop="selected" [cellClass]="'cell-left'" [headerClass]="'header-left'" frozenLeft="True">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <div id="icon-edit" (click)="editLand($sevent, row, rowIndex)"></div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column width="150" name="Name of the Enterprise" prop="pCompanyname" [cellClass]="'cell-left'" [headerClass]="'header-center'">
                            </ngx-datatable-column>
                            <ngx-datatable-column width="130" name="Enterprise Code" prop="pCompanycode" [cellClass]="'cell-left'" [headerClass]="'header-center'">
                            </ngx-datatable-column>
                            <ngx-datatable-column width="120" name="Type of Enterprise" prop="pnameofenterprise" [cellClass]="'cell-left'" [headerClass]="'header-center'">
                            </ngx-datatable-column>
                            <ngx-datatable-column width="120" name="Primary Contact Number" prop="pcontactnumber" [cellClass]="'cell-left'" [headerClass]="'header-center'">
                            </ngx-datatable-column>
                            <ngx-datatable-column width="150" name="Primary E-mail ID" prop="pemailid" [cellClass]="'cell-left'" >
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>