<div class="row">
  <div class="col-12 mt-5 p-0">
    <p class="bc-2">Recurring Deposit Configuration</p>
  </div>
</div>
<form [formGroup]="Rdconfigurationform">
  <div class="row mt-1">
    <div class="col-md-6 col-xl-4">
      <div class="form-group">
        <label id="pMembertypeid" title="Member Type">Member Type</label>
        <!-- <select class="form-control" formControlName="pMembertypeid" (change)="MemberTypeChange($event)">
          <option value="" disabled>Select</option>
          <option value="0">All</option>
          <option *ngFor="let type of MembertypeDetails;trackBy: trackByFn;" [value]="type.pmembertypeid">
            {{type.pmembertype}}</option>
        </select> -->
        <ng-select title="Member Type" id="pMembertypeid" [items]="MembertypeDetails" 
        [ngModelOptions]="{standalone: true}" [(ngModel)]="pMembertypeid"
          bindLabel="pmembertype" bindValue="pmembertypeid" [multiple]=true placeholder="Select" [searchable]=true
          [clearable]=true dropdownPosition="bottom" [clearOnBackspace]=true
          [ngClass]="{ 'is-invalid': (memberTypeError == true) }" (change)="MemberTypeChange($event);">
        </ng-select>
        <div class="invalid-feedback">
          <span *ngIf="memberTypeError">Member Type required</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="form-group">
        <label id="pApplicanttype" title="Applicant Type">Applicant Type</label>
        <!-- <select class="form-control" formControlName="pApplicanttype">
          <option value="" disabled>Select</option>
          <option value="All">All</option>
          <option *ngFor="let type of ApplicantTypes;trackBy: trackByFn;" [value]="type.pApplicanttype">
            {{type.pApplicanttype}}</option>
        </select> -->
        <ng-select title="Member Type" id="pApplicanttype" [items]="ApplicantTypes" 
        [ngModelOptions]="{standalone: true}" [(ngModel)]="pApplicanttype"
          bindLabel="pApplicanttype" bindValue="pApplicanttype" [multiple]=true placeholder="Select" [searchable]=true
          [clearable]=true dropdownPosition="bottom" [clearOnBackspace]=true
          [ngClass]="{ 'is-invalid': (applicantTypeError == true) }" (change)="ApplicanttypeChange($event);">
        </ng-select>
        <div class="invalid-feedback">
          <span *ngIf="applicantTypeError">Applicant Type required</span>
        </div>
      </div>
    </div>
    <hr class="light">
  </div>
  <div class="row mt-4">
    <div class="col-md-12 col-xl-12">
      <label class="font-weight-bold">Interest Payout</label>
    </div>
    <div class="col-md-4 col-xl-4">
      <div class="form-group">
        <div class="form-check form-check-inline mr-5 ">
          <input class="form-check-input" type="checkbox" name="" id="" value=""
             (change)="forInterestPayout($event)" checked>
          <label class="mt-1" for="inlineRadio2">On Maturity</label>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="form-group">
        <div class="form-check form-check-inline mr-5 radio-btn">
          <input class="form-check-input radio-btn" type="radio" formControlName="forType" (change)="interestratechecked($event)"
            name="forType" id="inlineRadio6" value="Interest rate" [checked]="showupdatetable ? false : true ">
          <label class="mt-1" for="inlineRadio6"> Interest Rate </label>
        </div>
        <div class="form-check form-check-inline mr-5 radio-btn">
          <input class="form-check-input radio-btn" type="radio" formControlName="forType" (change)="updatetablechecked($event)"
            name="forType" id="inlineRadio5" value="TABLE">
          <label class="mt-1" for="inlineRadio5">Update Table</label>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-xl-12">
      <div *ngIf="showupdatetable" class="update-table">
        <div formGroupName="lstRdConfigartionDetails" class="row">
          <div class="col-md-6 col-xl-6">
            <div class="border-box h-100 ">
              <div class="form-group">
                <label class="font-weight-bold">Recurring Deposit Table</label>
              </div>
              <div class="row">
                <!--col-end-->
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Total Tenure</label>
                    <div class="input-group col-6  pl-0">
                      <input maxlength="4" class="form-control text-right" type="text" formControlName="pTenure" removeZero
                        appNumbersonly [ngClass]="{ 'is-invalid': (globalTensureFlag == false) }" (keyup)="TenureAmount($event)">
                      <div class="input-group-append rounded-right rounded-0">
                        <select (change)="onModeChange($event)" [ngClass]="{ 'is-invalid': (globalTensureModeFlag == false) }"  id="" class="form-control btn-lg-icon" formControlName="pTenuremode">
                          <option disabled class="" value="">select</option>
                          <option class="" value="Days">Days</option>
                          <option class="" value="Months">Months</option>
                          <option class="" value="Years">Years</option>
                        </select>
                      </div>
                    </div>
                    <div class="d-flex col-6 p-0">
                      <div class="invalid-feedback col-7">
                          <span class="text-danger" *ngIf="!globalTensureFlag">Total Tenure required </span>
                        </div>
                      <div class="invalid-feedback col-6" >
                          <span ssclass="text-danger" *ngIf="!globalTensureModeFlag">Please select mode </span>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Pay-in Denomination</label>
                    <div class="input-group">
                      <input class="form-control text-right" id="payIn"  maxlength="9" type="text" formControlName="pPayindenomination"
                      removeZero appNumbersonly [ngClass]="{ 'is-invalid': (globalPayinFlag == false) }" (keyup)="Payindenomination($event)">
                      <div class="invalid-feedback" >
                        <span class="text-danger" *ngIf="!globalPayinFlag">Pay-in required </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Interest Amount</label>
                    <input maxlength="9" [ngClass]="{ 'is-invalid': (globalInterestFlag == false) }" class="form-control text-right" type="text" formControlName="pInterestamount" appNumbersonly
                    appDecimalwithcurrencyformat (keyup)="Intrestamount($event)">
                    <div class="invalid-feedback">
                      <span *ngIf="!globalInterestFlag">Interest Amount required </span>
                      </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Deposit Amount</label>
                    <input maxlength="17" class="form-control text-right" type="text" formControlName="pDepositamount" readonly
                      removeZero>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Maturity Amount</label>
                    <input maxlength="17" class="form-control text-right" type="text" formControlName="pMaturityamount" readonly
                      removeZero>
                  </div>
                </div>

              </div>

            </div>

          </div>
          <div class="col-12">
            <div class="d-flex justify-content-end mt-4">
              <a (click)="addDataToTable()" class="btn btn-b-icon border-0"><img src="assets/images/icon-add-white.svg"
                  width="20px" height="20px" class="mr-3">Add</a> </div>
          </div>

          <!-- <div class="col-md-12 col-xl-12 mt-4">
            <kendo-grid [data]="DepositGridData"  [groupable]="true" 
            [group]="groups" [selectedKeys]="mySelection" [pageSize]="10"  [pageable]="{buttonCount: 2}"
            [reorderable]="true" [resizable]="true" [columnMenu]="{ filter: true }" [pageable]="true"
            [sortable]="true"
         (edit)="editHandler($event,'deposite')" (remove)="removeHandler($event,'deposite')">
              <kendo-grid-column field="pMembertype" title="Member Type" width="150">
              </kendo-grid-column>
              <kendo-grid-column field="pApplicanttype" title="Applicant Type" width="150">
              </kendo-grid-column>
              <kendo-grid-column field="pTenure" title="Tenure" width="150">
              </kendo-grid-column>
              <kendo-grid-column field="pPayindenomination" title="Pay-in Denomination" width="150">
              </kendo-grid-column>
              <kendo-grid-column field="pInterestamount" title="Interest Amount" width="150">
              </kendo-grid-column>
              <kendo-grid-column field="pDepositamount" title="Deposit Amount" width="150">
              </kendo-grid-column>
              <kendo-grid-column field="pMaturityamount" title="Maturity Amount" width="150"></kendo-grid-column>
              <kendo-grid-command-column title="" width="100">
                <ng-template kendoGridCellTemplate>
                  <div id="icon-remove" kendoGridRemoveCommand></div>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div> -->

        </div>

      </div>
    </div>


    <div formGroupName="lstRdConfigartionDetails" class="col-md-12 col-xl-12">
      <div *ngIf="showInterestRate" class="interest-rate">
        <div class="row">
          <div class="col-md-6 col-xl-6">
            <div class="border-box h-100 ">

              <div class="form-group">
                <label class="font-weight-bold"> Installment amount and investment Period </label>
              </div>
              <div class="row pr-2">
                <!--col-end-->
                <div  class="col-md-12 col-xl-6  ">
                  <div class="form-group">
                    <label>Min installment amount</label>
                    <input maxlength="17" class="form-control text-right" type="text"
                    [ngClass]="{ 'is-invalid': ((globalMinAmountFlag == false || validationformin)) }"  appNumbersonly removeZero
                    (keyup)="minAmountChange($event)"  formControlName="pMininstalmentamount">
                    <div class="invalid-feedback" *ngIf="!globalMinAmountFlag">
                     <span class="text-danger">
                         Please enter valid amount
                     </span>
                 </div>
                 <div class="invalid-feedback" *ngIf="validationformin">
                     <span class="text-danger">
                         Minimum Amount should be less than are equal to Maximum Amount
                     </span>
                 </div>
                   </div>
                </div>
                <!--col-end-->
                <div class="col-md-12 col-xl-6 ">
                  <div class="form-group">
                    <label>Max installment amount</label>
                    <input maxlength="17" class="form-control  text-right"
                    [ngClass]="{ 'is-invalid': (globalMaxAmountFlag == false) }" type="text"  appNumbersonly (keyup)="mixAmountChange($event)"
                      removeZero formControlName="pMaxinstalmentamount">
                    <small class="form-text clr-orange"></small>
                    <div class="invalid-feedback" *ngIf="!globalMaxAmountFlag">
                      <span class="text-danger">
                          Please enter valid amount
                      </span>
                  </div> </div>
                </div>


                <div class="col-md-12 col-xl-6 ">
                  <div class="form-group">
                    <label>Installment Pay-in</label>
                    <select [ngClass]="{ 'is-invalid': (globalInstallmentFlag == false) }" (change)="changeLoanInstallments($event)" class="form-control w-auto" formControlName="pInstalmentpayin">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let type of Interestpayouts;trackBy: trackByFn;" [value]="type.pLoanpayin">
                        {{type.pLoanpayin}}</option>
                    </select>
                    <div class="invalid-feedback col-6" >
                      <span ssclass="text-danger" *ngIf="!globalInstallmentFlag">Please select Pay-in </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class=""> Investment Period From </label>
              </div>
              <div class="row pr-2">
                <!--col-end-->
                <div class="d-flex">
                  <div class="col-md-12 col-xl-4 ">
                    <div class="input-group">
                      <input class="form-control" maxlength="3" type="text" value="" formControlName="pfromnoofyears" (change)="Investmentfrom($event)" appNumbersonly>
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Years</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-4 ">
                    <div class="input-group">
                      <input class="form-control" maxlength="3" type="text" value="" formControlName="pfromnoofmonths" (change)="Investmentfrom($event)" appNumbersonly>
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Months</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-4 ">
                    <div class="input-group">
                      <input class="form-control" maxlength="3" type="text" value="" formControlName="pfromnoofdays" (change)="Investmentfrom($event)" appNumbersonly>
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Days</label>
                      </div>
                    </div>
                  </div>
                  <!--col-end-->
                </div>
              </div>
              <hr class="light">
              <div class="form-group ">
                <label class=""> Investment Period To </label>
              </div>
              <div class="row pr-2">
                <!--col-end-->
                <div class="d-flex">
                  <div class="col-md-12 col-xl-4 ">
                    <div class="input-group">
                      <input class="form-control" maxlength="3" type="text" value="" formControlName="ptonoofyears" appNumbersonly (change)="Investto()">
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Years</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-4 ">
                    <div class="input-group">
                      <input class="form-control" maxlength="3" type="text" value="" formControlName="ptonoofmonths" appNumbersonly (change)="Investto()">
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Months</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-4 ">
                    <div class="input-group">
                      <input class="form-control" maxlength="3" type="text" value="" formControlName="ptonoofdays" appNumbersonly (change)="Investto()">
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Days</label>
                      </div>
                    </div>
                  </div>
                </div>
                <!--col-end-->
              </div>
            </div>
          </div>


          <!--col-end-->

          <div class="col-md-6 col-xl-6">
            <div class="border-box ">
              <div class="form-group">
                <label class="font-weight-bold"> Rate of Interest and Payout Details </label>
              </div>
              <div class="row">
                <!-- <div class="col-md-12 col-xl-12">
                  <label class="font-weight-bold">Interest Payout</label>
                </div>
                <div class="col-md-4 col-xl-4">
                  <div class="form-group">
                    <div class="form-check form-check-inline mr-5 ">
                      <input maxlength="15" class="form-check-input" type="checkbox" name="inlineRadioOptions1" id="inlineRadio2"
                        formControlName="pInterestpayuot" value="individual">
                      <label class="mt-1" for="inlineRadio2">On Maturity</label>
                    </div>
                  </div>
                </div> -->

                <div class="col-md-12 col-xl-12">
                  <div class="form-group">
                      <label class="font-weight-bold">Interest compounding</label>
                  </div>
              </div>
              <div class="col-md-6 col-xl-6">
                  <div class="form-group">
                      <select formControlName="pInteresttype" name="pInteresttype" 
                      (change)="changeInterestType($event)" class="form-control">
                          <option value="Simple Interest">Simple Interest</option>
                          <option value="Compounding Interest">Compounding Interest</option>
                      </select>
                  </div>
              </div>

              <div class="col-md-6 col-xl-6" >
                  <div class="form-group" *ngIf="showCompoundInterest">
                      <select formControlName="pCompoundInteresttype" name="pCompoundInteresttype" class="form-control">
                          <option value="" disabled>Select</option>
                          <option value="Monthly Compounding">Monthly Compounding</option>
                          <option value="Quarterly Compounding">Quarterly Compounding</option>
                          <option value="Half Yearly Compounding">Half Yearly Compounding</option>
                          <option value="Yearly Compounding">Yearly Compounding</option>
                      </select>
                  </div>
              </div>
                <div class="col-md-7 col-xl-7">
                  <label>Interest rate P/A</label>
                  <div class="material-switch pull-right">
                    <input id="Employment" name="Employment" type="checkbox" checked (change)="intrestratechecked($event)"data-toggle="collapse" data-target="#tds">
                    <label for="Employment" class="badge-success" data-toggle="collapse" data-target="#tds"></label>
                  </div>
                </div>

                <div class="col-md-12 col-xl-6" *ngIf="showrate">
                  <div class="input-group">
                    <label class="mr-2 mt-1"> From </label>
                    <input appRoundecimal="2@2" class="form-control rounded-left" type="text" value="" formControlName="pInterestratefrom" (change)="checkFromToValue()">
                    <div class="input-group-append">
                      <label class="w-auto btn-lg-icon  pt-1 pr-2 pl-2 h-100 pb-0  rounded-right "> % </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-xl-6" *ngIf="showrate">
                  <div class="input-group">
                    <label class="mr-2 mt-1"> To </label>
                    <input appRoundecimal="2@2" class="form-control rounded-left" type="text" value="" formControlName="pInterestrateto" (change)="checkFromToValue()">
                    <div class="input-group-append">
                      <label class="w-auto btn-lg-icon pt-1 pr-2 pl-2 h-100 rounded-right "> % </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-xl-12" *ngIf="showvalue">
                  <div class="form-group"> <label class="font-weight-bold">OR </label></div>
                </div>
                <div class="col-md-12 col-xl-6" *ngIf="showvalue">
                  <div class="form-group">
                    <label class="mr-2 mt-1"> Value per 100 </label>
                    <input maxlength="17" class="form-control" type="text" value="" formControlName="pValueper100">
                  </div>
                </div>

              </div>
              <!--col-end-->
            </div>
          </div>
          <!--col-end-->



          <div class="col-md-12 col-xl-12">
            <div class="d-flex justify-content-end mt-4"> 
              <a (click)="forClear()" class="btn btn-g-icon mr-4 px-3 border-0"><img
                  src="assets/images/icon-cancel-white.svg" class="mr-3" width="20px" height="20px">Clear</a>
                   <a (click)="addDataToTable()"
                class="btn btn-b-icon border-0"><img src="assets/images/icon-add-white.svg" width="20px"
                  height="20px" class="mr-3">Add</a> </div>
          </div>

          <!-- <div class="col-md-12 col-xl-12">
            <div class="d-flex justify-content-end mt-4"> 
              <a href="#" class="btn btn-g-icon mr-4 px-3 border-0"><img
                  src="assets/images/icon-cancel-white.svg" class="mr-3" width="20px" height="20px">Clear</a>
                   <a (click)="addDataToTable()"
                class="btn btn-b-icon border-0"><img src="assets/images/icon-add-white.svg" width="20px"
                  height="20px" class="mr-3">Add</a> </div>
          </div> -->
         


        </div>
      </div>
    </div>

    <!-- <div class="row"> -->
      
          <div class="col-md-12 col-xl-12">
            <kendo-grid [data]="DepositGridData"  [groupable]="true" 
            [group]="groups" [selectedKeys]="mySelection"  [skip]="skip" 
            [reorderable]="true" [resizable]="true" [columnMenu]="{ filter: true }" 
            [sortable]="true" (edit)="editHandler($event,'deposite')" (remove)="removeHandler($event,'deposite')">
            <ng-template kendoGridToolbarTemplate>
              <div class="row mb-5">
                <div class="col-4 pl-0 mt-n1">
                  <input placeholder="Search in all columns..." kendoTextBox class="form-control search-k-cst sb"
                    (input)="onFilter($event.target.value)" />
                </div>
              </div>
            </ng-template>
            <kendo-grid-column field="pMembertype" title="Member Type" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="pApplicanttype" title="Applicant Type" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="pRdcalucationmode" title="Calculation Mode" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="pMininstalmentamount" title="Min Deposit" width="150">
              <ng-template kendoGridFooterTemplate>
                {{pMininstalmentamount | mycurrencypipe}}
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="pMaxinstalmentamount" title="Max Deposit" width="150">
              <ng-template kendoGridFooterTemplate>
                {{pMaxinstalmentamount | mycurrencypipe}}
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="pInvestmentperiodfrom" title="Investment Period From" width="150"></kendo-grid-column>
            <kendo-grid-column field="pInvestmentperiodto" title="Investment Period To" width="150"></kendo-grid-column>
            <kendo-grid-column field="pInstalmentpayin" title="Minimum Lock-in Period" width="150"></kendo-grid-column>
            <kendo-grid-column field="pInterestpayuot" title="Interest Payout" width="150"></kendo-grid-column>
            <kendo-grid-column field="pInteresttype" title="Interest compounding" width="150"></kendo-grid-column>
            <kendo-grid-column field="pMaturityamount" title="Interest rate p.a" width="150"></kendo-grid-column>
            <kendo-grid-column field="pValueper100" title="Value per 100" width="150"></kendo-grid-column>
            <kendo-grid-column field="pTenure" title="Tenure" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="pPayindenomination" title="Pay-in Denomination" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="pInterestamount" title="Interest Amount" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="pDepositamount" title="Deposit Amount" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="pMaturityamount" title="Maturity Amount" width="150"></kendo-grid-column>
            <kendo-grid-command-column title="" width="100">
              <ng-template kendoGridCellTemplate>
                <div id="icon-remove" kendoGridRemoveCommand></div>
              </ng-template>
            </kendo-grid-command-column>
          </kendo-grid>
          </div>
    <!-- </div> -->

  </div>
</form>
<!--row-end-->