<form>
    <div class="row mt-2">
        <div class="col-12">
            <p class="bc-2">Layout</p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8  col-sm-12">
            <div class="content-inner-view">
                <div class="row">
                    <div class="col-md-6 col-xl-6">
                        <div class="form-group">
                            <label id="pContactName" title="Permit Number">Permit Number</label>
                            <select class="form-control">
                        <option ng-selected="selected" value="">L.P.NO. 57/2011</option>
                        <option>L.P.NO. 87/2015</option>
                        <option>L.P.NO. 63/2019</option>
      </select>
                            <!-- <div class="invalid-feedback">
                <span *ngIf="contactValidationErrors.pContactName">{{contactValidationErrors?.pContactName}}</span>
            </div> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="form-group">
                            <label id="pContactName" title="Permit Number">Permit Number</label>
                            <select class="form-control">
                        <option ng-selected="selected" value="">L.P.NO. 57/2011</option>
                        <option>L.P.NO. 87/2015</option>
                        <option>L.P.NO. 63/2019</option>
      </select>
                            <!-- <div class="invalid-feedback">
                <span *ngIf="contactValidationErrors.pContactName">{{contactValidationErrors?.pContactName}}</span>
            </div> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="content-inner-view">
                <div class="col-12 user-sec pt-2">
                    <p class="lc-title text-center mb-auto">Plot Details</p>
                </div>
                <div class="card-inner">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-12 mt-2">
                                <div class="row">
                                    <label class="lc-txtt col-md-8">Layout Id:</label>
                                    <label class="lc-txt col-md-4">25</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="lc-txtt col-md-8">Rate Per Sq Yard :</label>
                                    <label class="lc-txt col-md-4">2500.00</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="lc-txtt col-md-8">Road Extra(%) :</label>
                                    <label class="lc-txt col-md-4">0.00</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="lc-txtt col-md-8">Facing Extra(%)</label>
                                    <label class="lc-txt col-md-4">0.00</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="lc-txtt col-md-8">Others Extra(%) :</label>
                                    <label class="lc-txt col-md-4">0.00</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="lc-txtt col-md-8">Reg Amount :</label>
                                    <label class="lc-txt col-md-4">15000</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="lc-txtt col-md-8">Plot Area In Sqrds :</label>
                                    <label class="lc-txt col-md-4">100.000</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="lc-txtt col-md-8">Total Plot Cost :</label>
                                    <label class="lc-txt col-md-4">250000</label>
                                </div>
                            </div>

                        </div>

                        <!--dropdown-end-->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--col-end-->

    <!--col-end-->