<div class="row">
    <div class="col-md-8 col-lg-8">
        <div class="card-box">
            <div class="col-12 mt-2">


                <div class="form-group">
                    <div class="form-check form-check-inline mr-5 radio-btn-secondary">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="pur-land" checked="">
                        <label class="mt-1" for="inlineRadio1"> Purchased Land </label>
                    </div>
                    <div class="form-check form-check-inline mr-5 radio-btn-secondary">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="dev-land">
                        <label class="mt-1" for="inlineRadio2"> Development Land </label>
                    </div>
                </div>


                <div class="pur-land">

                    <div class="row mt-2">
                        <div class="col-md-6 col-xl-6">
                            <div class="form-group m-0">
                                <label>Name of Land Purchased</label>
                            </div>
                            <div class="form-group m-0">
                                <input class="form-control" type="text" value="Kapil Agro - Sreeramnagar">
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-4 offset-2">
                            <div class="form-group">
                                <label>Date of Purchase</label>
                                <input class="form-control" type="text" value="">
                            </div>
                        </div>
                    </div>

                    <!-----------------Top Nav Start --------------------->

                    <ul class="nav filtered-tab nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item"><a class="active" data-toggle="tab" href="#loan-details" role="tab" aria-controls="loanname" aria-selected="true">Land Details</a></li>

                        <li class="nav-item"> <a class="" data-toggle="tab" href="#Address" role="tab" aria-controls="Installmentduedate" aria-selected="false">Address</a> </li>

                        <li class="nav-item"> <a class="" data-toggle="tab" href="#land-cost" role="tab" aria-controls="Installmentduedate" aria-selected="false">Document</a> </li>
                        <li class="nav-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="View Details"> <a class="" data-toggle="tab" href="#view-details" role="tab" aria-controls="Installmentduedate" aria-selected="false">View Details</a> </li>
                    </ul>

                    <!-----------------Top Nav ENd --------------------->

                    <div class="tab-content" id="myTabContent">


                        <div class="tab-pane fade  active show " id="loan-details" role="tabpanel" aria-labelledby="fresh-tab">

                            <form>
                                <div class="row ">

                                    <!--col-end-->
                                    <div class="col-md-6 col-xl-6 mt-3">
                                        <div class="form-group">
                                            <label>Select Company</label>
                                            <select class="form-control">
                                                <option>Preethi Foods and villas pvt.ltd</option>
                                                <option>Dakshin infra pvt.ltd</option>
                                                <option>BVM Energy and Residency pvt ltd</option>
                                                <option>Kapil Avenues Consultance pvt ltd</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <!--col-end-->
                                    <div class="col-md-6 col-xl-6">
                                        <div class="form-group">
                                            <label>Survey No's</label>
                                            <input class="form-control" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-6">
                                        <div class="form-group">
                                            <label>Vendor</label>
                                            <input class="form-control" type="text" value="Kattamedhi Muthayalu and others">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-xl-3">
                                        <div class="form-group">
                                            <label>Land Area</label>
                                            <div class="input-group">
                                                <input class="form-control" type="text" value="">
                                                <div class="input-group-append">
                                                    <select class="form-control">
                                                        <option>Acres</option>
                                                        <option>Guntas</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xl-3">
                                        <div class="form-group">
                                            <label>Land Area</label>
                                            <div class="input-group">
                                                <input class="form-control" type="text" value="">
                                                <div class="input-group-append">
                                                    <select class="form-control">
                                                        <option>Acres</option>
                                                        <option>Guntas</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xl-6">
                                        <div class="form-group">
                                            <label>Land Cost</label>
                                            <input class="form-control" type="text" value="">
                                        </div>
                                    </div>

                                </div>
                                <hr>
                                <div class="row mt-1">
                                    <div class="col-12">

                                        <p class="bc-2">Boundaries</p>
                                    </div>
                                    <div class="col-md-3 col-xl-3">
                                        <div class="form-group">
                                            <label>North</label>
                                            <input class="form-control" type="text" value="Land in survey no 47 and 48">
                                        </div>
                                    </div>
                                    <!--col-end-->
                                    <div class="col-md-3 col-xl-3">
                                        <div class="form-group">
                                            <label>South</label>
                                            <input class="form-control" type="text" value="Land in survey no 129">
                                        </div>
                                    </div>
                                    <!--col-end-->
                                    <div class="col-md-3 col-xl-3">
                                        <div class="form-group">
                                            <label>East</label>
                                            <input class="form-control" type="text" value="Land in survey no 132">
                                        </div>
                                    </div>
                                    <!--col-end-->
                                    <div class="col-md-3 col-xl-3">
                                        <div class="form-group">
                                            <label>West</label>
                                            <input class="form-control" type="text" value="Land in survey no 50">
                                        </div>
                                    </div>
                                    <!--col-end-->



                                </div>





                                <div class="col-md-12 col-xl-12">
                                    <div class="d-flex justify-content-end  mt-4 ml-3 mb-4">
                                        <a href="" data-toggle="tab" class="btn  btn-lg-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false"><img src="assets/images/icon-add-brown.svg" class="mr-3" width="20px" height="20px">Add </a>
                                    </div>
                                </div>


                                <hr>
                                <div class="row mt-1">
                                    <div class="col-md-12 col-xl-12">
                                        <table id="example" class="table text-center">
                                            <thead>
                                                <tr>
                                                    <th>S.no</th>
                                                    <th>Survey No</th>
                                                    <th>Vendor</th>
                                                    <th>Area</th>
                                                    <th>Land Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>130 A, 131 A</td>
                                                    <td>Kattamedhi Muthayalu and others</td>
                                                    <td>8 acres 19 guntas</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>130 A, 131 A</td>
                                                    <td>Kattamedhi Muthayalu and others</td>
                                                    <td>8 acres 19 guntas</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-4 col-xl-4">
                                        <div class="form-group mt-4 pt-1">
                                            <a href="#" class="btn btn-lg-icon px-3 border-0 collapsed" data-toggle="collapse" data-target="#view-member" aria-expanded="false"><img src="assets/images/icon-add-brown.svg" width="20px" height="20px" class="mr-3">Compute Area</a>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-1">
                                    <div class="col-md-12 col-xl-12">
                                        <div id="view-member" class="collapse">
                                            <div class="row border rounded p-4">
                                                <div class="col-md-6 col-xl-6 ">
                                                    <div class="form-group m-0">
                                                        <label>Total Area : </label>
                                                        <label class="lc-title">8 Acres 19 Guntas</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-6">
                                                    <div class="form-group m-0">
                                                        <label>Area in Sqyds : </label>
                                                        <label class="lc-title">41,030 sqyds</label>
                                                    </div>
                                                </div>

                                                <hr>


                                                <div class="col-md-6 col-xl-6">
                                                    <div class="form-group">
                                                        <label>Total Document Value</label>
                                                        <input class="form-control" type="text" value="84,75,000">
                                                        <label class="lc-title mt-2">Eighty four lakhs seventy five
                                                            thousand.
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--col-end-->
                                                <div class="col-md-6 col-xl-6">
                                                    <div class="form-group">
                                                        <label>Actual Cost of Land</label>
                                                        <input class="form-control" type="text" value="100,00,000">
                                                        <label class="lc-title mt-2">One Crore</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-xl-12 mt-2">
                                    <div class="form-group m-0">
                                        <label>Purchased from Kattamedhi Muthyalu and others : <span class="lc-title">8
                                                acres 19 guntas or 41,030 sqyds</span></label>
                                    </div>
                                </div>




                                <!--col-end-->
                                <!--row-end-->
                            </form>
                            <!--form-end-->
                            <!--form-end-->



                        </div>
                        <!-- -*----------------------------------------Tab1 end ----------------------------------------->


                        <div class="tab-pane fade" id="Address" role="tabpanel" aria-labelledby="hot-tab">

                            <div class="row">
                                <div class="col-12 mt-3">

                                    <p class="bc-2">Address</p>
                                </div>

                                <div class="col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <label>longitude</label>
                                        <input class="form-control" type="text" value="">
                                    </div>
                                </div>
                                <!--col-end-->
                                <div class="col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <label>latitude</label>
                                        <input class="form-control" type="text" value="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <label>Address Line 1:</label>
                                        <input class="form-control" type="text" value="">
                                    </div>
                                </div>
                                <!--col-end-->
                                <div class="col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <label>Address Line 2</label>
                                        <input class="form-control" type="text" value="">
                                    </div>
                                </div>

                                <div class="col-md-3 col-xl-3">
                                    <div class="form-group">
                                        <label>City/Village</label>
                                        <input class="form-control" type="text" value="">
                                    </div>
                                </div>

                                <div class="col-md-3 col-xl-3">
                                    <div class="form-group">
                                        <label>District</label>
                                        <select class="form-control">
                                            <option>Rangareddy</option>
                                            <option>Medak</option>
                                            <option>Karimnagar</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xl-3">
                                    <div class="form-group">
                                        <label>State</label>
                                        <select class="form-control">
                                            <option>Telangana</option>
                                            <option>Andhra Pradesh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input class="form-control">
                                    </div>
                                </div>


                                <div class="col-md-4 col-xl-4">
                                    <div class="form-group">
                                        <label>Pin Code</label>
                                        <input class="form-control">
                                    </div>
                                </div>




                            </div>
                        </div>

                        <!-- ==================================================================== tab content pannnel 2 end =================================================================== -->
                        <div class="tab-pane fade" id="land-cost" role="tabpanel" aria-labelledby="hot-tab">





                            <div class="row">
                                <div class="col-12 mt-3 ">

                                    <p class="bc-2">Upload Documents</p>
                                </div>
                            </div>


                            <div class="row mt-1">
                                <div class="col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <label>Select Document Type</label>
                                        <select class="form-control">
                                            <option>Sale Deed</option>
                                            <option>Link Documents</option>
                                            <option>Agreement Of Sale</option>
                                        </select>
                                    </div>
                                </div>
                                <!--col-end-->
                                <div class="col-md-6 col-xl-6">
                                    <div class="form-group">
                                        <label>Upload Attachment</label>
                                        <input class="form-control" type="text" value="100,00,000">
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-12">
                                    <div class="d-flex justify-content-end  pt-1">
                                        <a href="#" class="btn btn-lg-icon px-3 border-0"><img src="assets/images/icon-upload-blue.svg" class="mr-3" width="20px" height="20px">Upload</a>
                                    </div>
                                </div>

                                <div class="col-md-12 col-xl-12 mt-2">
                                    <table class="table border w-50">
                                        <thead>
                                            <tr>
                                                <th>Document Type</th>
                                                <th>Document</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Saledeed</td>
                                                <td>Saledeed.pdf</td>
                                            </tr>
                                            <tr>
                                                <td>Memorandum of understanding</td>
                                                <td>01022020mou.pdf</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                            <!--row-end-->

                            <!--buttons-end-->
                        </div>





                        <div class="tab-pane fade" id="view-details" role="tabpanel" aria-labelledby="hot-tab">
                            <div class="row">
                                <div class="col-12 mt-4">
                                    <p class="bc-2">View Details</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xl-12 mt-2">
                                    <table class="table border w-100">
                                        <thead>
                                            <tr>
                                                <th>Land Name</th>
                                                <th>Company</th>
                                                <th>Vendors</th>
                                                <th>Survey No(s)</th>
                                                <th>Total Area</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td>Dakshin Infra</td>
                                                <td>60%</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--row-end-->


                        </div>


                    </div>
                    <!-- Tab content end -->


                </div>


                <div class="dev-land radio-toggle">
                    <div class="row mt-2">
                        <div class="col-md-4 col-xl-4">
                            <div class="form-group">
                                <label>Select Company</label>
                                <select class="form-control">
                                    <option>Preethi Foods and villas pvt.ltd</option>
                                    <option>Dakshin infra pvt.ltd</option>
                                    <option>BVM Energy and Residency pvt ltd</option>
                                    <option>Kapil Avenues Consultance pvt ltd</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <hr>
                        <div class="col-md-4 col-xl-4">
                            <div class="form-group">
                                <label>Survey No's</label>
                                <input class="form-control" type="text" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <div class="form-group">
                                <label>Vendor</label>
                                <input class="form-control" type="text" value="Kattamedhi Muthayalu and others">
                            </div>
                        </div>

                        <div class="col-md-4 col-xl-4">
                            <div class="form-group">
                                <label>Land Area</label>
                                <div class="input-group">
                                    <input class="form-control" type="text" value="">
                                    <div class="input-group-append">
                                        <select class="form-control">
                                            <option>Acres</option>
                                            <option>Guntas</option>
                                        </select>
                                    </div>
                                    <input class="form-control" type="text" value="">
                                    <div class="input-group-append">
                                        <select class="form-control">
                                            <option>Acres</option>
                                            <option>Guntas</option>
                                            <option>Cents</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-xl-12">
                            <div class="d-flex justify-content-end  mt-4 ml-3 mb-4">
                                <a href="" data-toggle="tab" class="btn  btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false"><img src="assets/images/icon-add-white.svg" class="mr-3" width="20px" height="20px">Add </a>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="row mt-1">
                        <div class="col-md-12 col-xl-12">
                            <table id="example" class="table text-center">
                                <thead>
                                    <tr>
                                        <th>S.no</th>
                                        <th>Survey No</th>
                                        <th>Vendor</th>
                                        <th>Area</th>
                                        <th>Land Cost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>130 A, 131 A</td>
                                        <td>Kattamedhi Muthayalu and others</td>
                                        <td>8 acres 19 guntas</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>130 A, 131 A</td>
                                        <td>Kattamedhi Muthayalu and others</td>
                                        <td>8 acres 19 guntas</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-4 col-xl-4">
                            <div class="form-group mt-4 pt-1">
                                <a href="#" class="btn btn-b-icon px-3 border-0 collapsed" data-toggle="collapse" data-target="#view-member" aria-expanded="false"><img src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-3">Compute Area</a>
                            </div>
                        </div>

                    </div>






                </div>


                <!-- main content end -->
            </div>

        </div>

        <div class="d-flex justify-content-end mt-4 ">
            <a href="#" class="btn btn-g-icon mr-4 px-3 border-0"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3" />Clear</a>
            <a href="#loanconfig" data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false"><img src="assets/images/icon-check-white.svg" width="20px" height="20px" class="mr-3" />Save</a>
        </div>
    </div>


    <div class="col-md-4 col-lg-4">
        <div class="card-box">
            <div class="col-12 mt-2">


                <h2 class="sec-head">View here</h2>


                <!-- main content end -->
            </div>

        </div>
    </div>


</div>